.image-background {
  background-image: url("https://i.picsum.photos/id/556/1920/1080.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
}
.software-developer {
  color: white;
  border: 3px white solid;
  text-align: center;
  transform: translate(1%, 250%);
  margin-left: 20%;
  margin-right: 20%;
}
.about-me {
  transform: translate(1%, 450%);
  margin-left: 30%;
}
.technologies {
  transform: translate(1%, 500%);
  margin-left: 30%;
}
.contact {
  transform: translate(1%, 550%);
  margin-left: 30%;
}
.button {
  border: 1px white solid;
  color: white;
  height:40px ;
  width: 150px;
}
.footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
}

